.boton-clear {
    height: 63px;
    font-size: 3rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: var(--fourth-color);
    color: var(--first-color);
    font-weight: bold;
    border: 2px solid var(--first-color);
    transition: opacity .6s ease;
    cursor: pointer;
    border-radius: 16px;
    user-select: none;
    margin: 4px;
}

.boton-clear:hover {
    opacity: .7;
}

@media (min-width: 417px) {
    .boton-clear {
    height: 83px;
    }
}